// WITH HELP FROM BOOTSRAPS OPEN-SOURCE SCSS LIBRARY

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Colours
$blue-dark: #00187a !default;
$blue: #0066ff !default;
$peach: #faebd7 !default;
$yellow: #ffd100 !default;
$dark: #070707 !default;
$grey-3: #181819 !default;
$grey-2: #50505a !default;
$grey-1: #c2c5c6 !default;
$light: #f9f9f9 !default;
$white: #fff !default;
$black: #000 !default;

$colours: () !default;
$colours: map-merge(
  (
    "blue-dark": $blue-dark,
    "blue": $blue,
    "peach": $peach,
    "yellow": $yellow,
    "dark": $dark,
    "grey-3": $grey-3,
    "grey-2": $grey-2,
    "grey-1": $grey-1,
    "light": $light,
    "white": $white,
    "black": $black
  ),
  $colours
);

// spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 3
    ),
    6: (
      $spacer * 6
    )
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%
  ),
  $sizes
);

//
// sets variable of the gutter width for elements such as .col and .container
//
$grid-gutter-width: 30px;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
