.animate {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s;
}

.animate-up:hover {
  -webkit-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  -o-transform: translateY(-0.25rem);
  transform: translateY(-0.25rem);
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s;
}

.animate-right:hover,
.animate-left:hover {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  -o-transform: translateY(-0.25rem);
  transform: translateY(-0.25rem);
}

@media (min-width: 992px) {
  .animate-left:hover {
    -webkit-transform: translateX(-0.25rem);
    -ms-transform: translateX(-0.25rem);
    -o-transform: translateX(-0.25rem);
    transform: translateX(-0.25rem);
    -webkit-transition: ease all 0.2s;
    -o-transition: ease all 0.2s;
    transition: ease all 0.2s;
  }

  .animate-right:hover {
    -webkit-transform: translateX(0.25rem);
    -ms-transform: translateX(0.25rem);
    -o-transform: translateX(0.25rem);
    transform: translateX(0.25rem);
    -webkit-transition: ease all 0.2s;
    -o-transition: ease all 0.2s;
    transition: ease all 0.2s;
  }
}
